
h1, h2, p {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
}

.card-text {
    text-align: justify;
}

.cardMargin {
    margin-top: 40px;
}

.cardPadding {
    padding: 30px;
}

.blanketCat {
    float: left;
    height:170px;
    margin-right:15px;
    margin-bottom: 15px;
}

.nav-link {
    color: white;
}

.navbar-brand {
    font-size: 30px;
    font-weight: bold;
    padding: .3125rem;
    vertical-align: middle;
    color: #5F5F5F;
}

/* Parallax Scroll */
.parallax {
    /* The image used */
    background-image: url("../Assets/Images/background.jpg");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 768px) {
    .card {
        width: 100%;
    }
  }